/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');


* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: 0;
    border: 0;
    appearance: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}


:root {
    --first-color: #675cff;
    --body-color: #fff;
    --color-gray: #e7e6ec;
    --color-black: #000;
    --color-white: #fff;
    --text-color: #555;
    --title-color: #333333;
    --nav-bg: #fefefe;

    --transition: all 300ms ease;

    --container-width: 85%;

    --card-border-radius-2: 0.5rem;
}


body {
    line-height: 1.6;
    overflow-x: hidden;
    background: var(--body-color);
}

.container {
    width: var(--container-width);
    max-width: 1800px;
    margin-inline: auto;
}

section {
    margin-top: 3rem;
    width: 100vw;
}

h3 {
    font-size: 20px;
    margin: 12px 0;
}

a {
    transition: var(--transition);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/*==================== NAV ====================*/
.new_nav {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 6.5rem;
    background: var(--nav-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    /* border-radius: 0 0 10px 10px; */
    border-bottom: 3px solid var(--first-color);
}

.logo {
    width: 80px;
    margin-top: 8px;
    margin-bottom: 10px;
}

nav .logo {
    display: none;
}

nav ul {
    display: flex;
}

nav ul li a {
    color: #212526;
    display: block;
    margin: 0 2px;
    font-weight: 400;
    padding: 8px 18px;
    transition: 0.2s;
    text-transform: uppercase;
    font-size: 17px;
}

.logout:hover {
    color: #ff0000;
}

nav ul li a:hover {
    color: var(--first-color);
}

nav ul li a.active {
    /* color: #675cff; */
    color: var(--first-color);
}

.hamburger {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}

.hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #212526;
}


@media screen and (max-width: 1100px) {
    .new_nav {
        padding: 0 20px;
    }

    nav {
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 250px;
        height: 100vh;
        background-color: var(--nav-bg);
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
        transition: .3s;
    }

    #nav_check:checked~nav {
        left: 0;
    }

    nav .logo {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 19px;
        margin-top: 14px;
        margin-bottom: 50px;
    }

    nav ul li a {
        padding: 10px 15px;
        border-bottom: 1px solid #e4dcdc99;
        font-size: 17px;
    }

    nav ul li a:hover {
        /* background: #e7e6ec; */
        background: var(--color-gray);
    }

    nav ul li a.active {
        /* background: #e7e6ec; */
        background: var(--color-gray);
    }

    .logout:hover {
        color: #fff;
        background: #ff0000;
    }

    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }

    .hamburger {
        display: block;
    }
}

/*==================== SEARCH BAR ====================*/
.search__bar {
    margin-top: 9rem;
}

.search__bar-container {
    position: relative;
    width: 70%;
    background: var(--color-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 9px 16px;
    border-radius: var(--card-border-radius-2);
    color: var(--color-black);
}

.search__bar-container>div {
    width: 100%;
    display: flex;
    align-items: center;
}

.search__bar input {
    background: transparent;
    margin-left: 12px;
    padding: 8px 16px 8px 0;
    width: 100%;
    font-size: 15px;
}

.search__bar input::placeholder {
    color: var(--color-black);
}

.btn {
    display: block;
    width: fit-content;
    padding: 9px 19px;
    background-color: var(--first-color);
    border-radius: var(--card-border-radius-2);
    cursor: pointer;
    transition: var(--transition);
    color: var(--color-white);
    font-size: 15px;
}

/*==================== CATEGORY BUTTON ====================*/

.category__button {
    /* background: var(--color-primary-light); */
    background: var(--color-gray);
    color: var(--title-color);
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: var(--card-border-radius-2);
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    font-weight: 600;
}

.category__button a {
    text-align: center;
}

.category__button:hover {
    color: var(--first-color);
}

/*==================== GENERAL POSTS ====================*/

.post__thumbnail {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 25px;
}

.post__thumbnail img {
    transition: all 0.5s;
}

.post__thumbnail img:hover {
    /* transition: filter 500ms ease;
    filter: saturate(0); */
    transform: scale(1.2);
}

/*==================== POSTS ====================*/

.posts {
    position: relative;
    margin-top: 4rem;
}

.posts__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 80px;
    gap: 60px;
}

.post__title a {
    color: var(--title-color);
    font-weight: 600;
}

.post__body {
    font-size: 20px;
    color: var(--text-color);
    font-weight: 300;
    line-height: 30px;
}

/*==================== CATEGORY BUTTONS ====================*/

.category__buttons {
    margin-top: 0.5rem;
    padding: 20px 0;
    /* border-top: 2px solid var(--first-color);*/
    /* border-bottom: 2px solid var(--first-color); */
}

.category__buttons-container {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}


/*========== SCROLL UP ==========*/
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    color: var(--color-white);
    padding: 5px 10px;
    display: flex;
    opacity: .9;
    z-index: 10;
    transition: .4s;
}

.scrollup__icon {
    font-size: 1.2rem;
}

/* Show scroll */
.show-scroll {
    bottom: 1rem;
}


/*==================== MEDIA QUERIES ====================*/

@media screen and (max-width: 1100px) {
    .section {
        padding: 25px 50px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width);
    }

    .posts__container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 997px) {
    .category__buttons-container {
            grid-template-columns: 1fr 1fr;
        }
}

@media screen and (max-width: 768px) {
    .posts__container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    /* .category__buttons-container {
        grid-template-columns: 1fr 1fr;
    } */
}

@media screen and (max-width: 600px) {
    section {
        margin-top: 32px;
    }
}

@media screen and (max-width: 425px) {
    .category__button {
        display: flex;
    }

    .category__buttons-container {
        grid-template-columns: 1fr;
    }

    .posts {
        margin-top: 1rem;
    }
}